/* CSS FILE FOR INDEX.HTML */

body {
  
}

/* SECTION */
section {
	font-family: Passion One;
	width: 100%;
	display: none;

}


#Home h1 {
	font-family: Passion One;
	font-size: 70px;
	text-align: center;
}

/* HOME SCREEN */

.wrapper {
	text-align: center;
	padding-top: 5em;
}

.wrapper button {
	margin-top: 1em;
	width: 200px;
	display: block;
	text-align: center;
	font-size: 25px;
	position: relative;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	font-family: Passion One;
}


#adjustment {
	margin-top: 2em;
}


.pulse-button {
  position: relative;
  margin-left: -98px;
  line-height: 50px;
  width: 230px;
  color: white;
  border: none;
  background: #5a99d4;
  cursor: pointer;
  font-size: 32px;
  box-shadow: 0 0 0 0 rgba(90, 153, 212, 0.5);
  -webkit-animation: pulse 1.5s infinite;
}


@-webkit-keyframes pulse {
  0% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  70% {
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    box-shadow: 0 0 20px 20px rgba(90, 153, 212, 0);
  }
  100% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
  }
}

@media screen and (min-device-width : 768px)
{
  #home h1 {
  font-size: 120px;
  margin-top: 200px;
  }

  .wrapper button {
  
  width: 300px;
  height: 75px;
  font-size: 35px;
  }

  .pulse-button {
  position: relative;
  margin-left: -147px;
  line-height: 50px;
  width: 300px;
  }
}


@media screen and (max-device-width : 767px)
{
  #home h1 {
  font-size: 80px;
  text-align: center;
  margin-top: 120px;
  }
}

@media screen and (max-device-width : 365px)
{
  #home h1 {
  font-size: 70px;
  text-align: center;
  margin-top: 90px;
  }
}




/* OPTIONS SCREEN */

.header h1 {
  text-align: center;
  font-size: 50px
}

.back {
  width: 30px;
  height: auto;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
  margin-top: -92px;
  margin-left: 7%;
}

.options-content {
  text-align: center;
  font-size: 30px;
  margin-top: 30px;
}

.footer {
  text-align: center;
  margin-top: 50px;
    
}

.footer .btn {
  font-size: 20px;
}

/* CHECKBOX */
.checkbox{
  position: absolute;
}

.checkbox .switch{
  position:absolute;
  text-align: center;
  transition: all 0.2s ease;
  border-radius: 25px;
}

.checkbox input[type=radio]{
  display: none;
}
    

.checkbox .switch label{
  cursor: pointer;
  transition: all 0.2s ease;
}

.checkbox label[for=sfx]{
  position: absolute;
}


.checkbox label[for=music]{
  position: absolute;
}




.checkbox #sfx:checked ~ .switch label[for=sfx] #sfxon{
  color: white;
}

.checkbox #sfx:not(:checked) ~ .switch label[for=sfx] #sfxon{
  visibility: hidden;
}

.checkbox #sfx:checked ~ .switch label[for=sfx] #sfxoff{
  visibility: hidden;
}

.checkbox #sfx:not(:checked) ~ .switch label[for=sfx] #sfxoff{
  color: white;
}
    



 .checkbox #music:checked ~ .switch label[for=music] #musicon{
  color: white;
}

.checkbox #music:not(:checked) ~ .switch label[for=music] #musicon{
  visibility: hidden;
}

.checkbox #music:checked ~ .switch label[for=music] #musicoff{
  visibility: hidden;
}

.checkbox #music:not(:checked) ~ .switch label[for=music] #musicoff{
  color: white;
}





.checkbox #sfx:checked ~ .switch {
  background-color: #59E371;         
}

.checkbox #sfx:not(:checked) ~ .switch {
  background-color: #ff6c61;         
}

.checkbox #music:checked ~ .switch {
  background-color: #59E371;         
}

.checkbox #music:not(:checked) ~ .switch {
  background-color: #ff6c61;         
}


@media screen and (min-device-width : 768px)
{
  .header h1 {
    font-size: 80px
  }

  .back {
    width: 40px;
    height: auto;
    margin-top: -120px;
    margin-left: 15%;
  }

  .options-content {
    margin-top: 150px;
  }

  .options-content h1 {
    font-size: 50px;
  }

  .checkbox {
    margin-top: 20px;
  }

  .checkbox .switch{
    width: 280px;
    height: 60px;
    margin-left: 240px;
  }

  .checkbox label[for=sfx]{
    position: absolute;
    font-size: 30px;
    width: 240px;
    height: 60px;
    left: 20px;
}

  .checkbox #yessfx:checked ~ .switch label[for=sfx]{
    font-size: 50px;
  }
      

  .checkbox #nosfx:checked ~ .switch label[for=nosfx]{
    font-size: 50px;
    display: block;
  }

  .checkbox label[for=music]{
    position: absolute;
    width: 240px;
    height: 60px;
    font-size: 30px;
    left: 20px;
  }


  .checkbox #yesmusic:checked ~ .switch label[for=music]{
    font-size: 50px;
  }
      

  .checkbox #nomusic:checked ~ .switch label[for=nomusic]{
    font-size: 50px;
  }

  #musicheader {
    margin-top: 200px;
  } 

  #sfxon {
    margin-top: 0px;
    margin-left: -7px;
  }

  #sfxoff {
    margin-top: -65px;
    margin-left: -7px;
  }

  #musicon {
    margin-top: 0px;
    margin-left: -7px;
  }

  #musicoff {
    margin-top: -65px;
    margin-left: -7px;
  }
}

@media screen and (min-device-width : 410px) and (max-device-width : 766px)
{
  .header h1 {
    text-align: center;
    font-size: 60px
  }

  .back {
    width: 30px;
    height: auto;
    margin-top: -110px;
    margin-left: 10%;
  }

  .options-content {
    margin-top: 75px;
  }

  .options-content h1 {
    font-size: 40px;
  }

  .checkbox {
    margin-top: 10px;
  }

  .checkbox .switch{
    width: 220px;
    height: 40px;
    margin-left: 95px;
  }

  .checkbox label[for=yessfx]{
    position: absolute;
    left: 5px;
    height: 15px;
    font-size: 25px;
    top: -5px;
}

  .checkbox label[for=nosfx]{
    position: absolute;
    right: 20px;
    top: -5px;
    font-size: 25px;
}

  .checkbox #yessfx:checked ~ .switch label[for=yessfx]{
    color: white;
    font-size: 40px;
    top: -5px;
  }
      

  .checkbox #nosfx:checked ~ .switch label[for=nosfx]{
    color: white;
    font-size: 40px;
    top: -5px;
  }

  .checkbox label[for=yesmusic]{
      position: absolute;
      left: 5px;
      height: 15px;
      font-size: 25px;
      top: -5px;
  }

  .checkbox label[for=nomusic]{
    position: absolute;
    right: 20px;
    top: -5px;
    font-size: 25px;
  }

  .checkbox #yesmusic:checked ~ .switch label[for=yesmusic]{
    color: white;
    font-size: 40px;
    top: -5px;
  }
      

  .checkbox #nomusic:checked ~ .switch label[for=nomusic]{
    color: white;
    font-size: 40px;
    top: -5px;
  }

  #musicheader {
    margin-top: 150px;
  }

  #sfxon {
    margin-top: -2px;
    margin-left: -80px;
  }

  #sfxoff {
    margin-top: -55px;
    margin-left: -45px;
  }

  #musicon {
    margin-top: -2px;
    margin-left: -80px;
  }

  #musicoff {
    margin-top: -55px;
    margin-left: -45px;
  }
}


@media screen and (min-device-width : 366px) and (max-device-width : 378px)
{
  .header h1 {
    text-align: center;
    font-size: 60px
  }

  .back {
    width: 30px;
    height: auto;
    margin-top: -110px;
    margin-left: 10%;
  }

  .options-content {
    margin-top: 75px;
  }

  .options-content h1 {
    font-size: 40px;
  }

  .checkbox {
    margin-top: 10px;
  }

  .checkbox .switch{
    width: 225px;
    height: 40px;
    margin-left: 71px;
  }

  .checkbox label[for=yessfx]{
    position: absolute;
    left: 5px;
    height: 15px;
    font-size: 25px;
    top: -5px;
}

  .checkbox label[for=nosfx]{
    position: absolute;
    right: 20px;
    top: -5px;
    font-size: 25px;
}

  .checkbox #yessfx:checked ~ .switch label[for=yessfx]{
    color: white;
    font-size: 40px;
    top: -5px;
  }
      

  .checkbox #nosfx:checked ~ .switch label[for=nosfx]{
    color: white;
    font-size: 40px;
    top: -5px;
  }

  .checkbox label[for=yesmusic]{
      position: absolute;
      left: 5px;
      height: 15px;
      font-size: 25px;
      top: -5px;
  }

    .checkbox label[for=nomusic]{
      position: absolute;
      right: 20px;
      top: -5px;
      font-size: 25px;
  }

  .checkbox #yesmusic:checked ~ .switch label[for=yesmusic]{
    color: white;
    font-size: 40px;
    top: -5px;
  }
      

  .checkbox #nomusic:checked ~ .switch label[for=nomusic]{
    color: white;
    font-size: 40px;
    top: -5px;
  }

  #musicheader {
    margin-top: 150px;
  }
}

@media screen and (min-device-width : 323px) and (max-device-width : 361px)
{
  .header h1 {
    text-align: center;
    font-size: 50px
  }

  .back {
    width: 25px;
    height: auto;
    margin-top: -100px;
    margin-left: 10%;
  }

  .options-content {
    margin-top: 75px;
    width: 100%;
  }

  .options-content h1 {
    font-size: 30px;
  }

  .checkbox {
    margin-top: 10px;
    width: 100%;
  }

  .checkbox .switch{
    width: 175px;
    height: 40px;
    left: 25%;
  }

  .checkbox label[for=yessfx]{
    position: absolute;
    left: 5px;
    height: 15px;
    font-size: 20px;
    top: -5px;
}

  .checkbox label[for=nosfx]{
    position: absolute;
    right: 20px;
    top: -5px;
    font-size: 20px;
}

  .checkbox #yessfx:checked ~ .switch label[for=yessfx]{
    color: white;
    font-size: 35px;
    top: -5px;
  }
      

  .checkbox #nosfx:checked ~ .switch label[for=nosfx]{
    color: white;
    font-size: 35px;
    top: -5px;
  }

  .checkbox label[for=yesmusic]{
      position: absolute;
      left: 5px;
      height: 15px;
      font-size: 20px;
      top: -5px;
  }

  .checkbox label[for=nomusic]{
    position: absolute;
    right: 20px;
    top: -5px;
    font-size: 20px;
  }

  .checkbox #yesmusic:checked ~ .switch label[for=yesmusic]{
    color: white;
    font-size: 35px;
    top: -5px;
  }
      

  .checkbox #nomusic:checked ~ .switch label[for=nomusic]{
    color: white;
    font-size: 35px;
    top: -5px;
  }

  #musicheader {
    margin-top: 120px;
  }
}

@media screen and (max-device-width : 322px)
{
  .header h1 {
    text-align: center;
    font-size: 50px
  }

  .back {
    width: 25px;
    height: auto;
    margin-top: -100px;
    margin-left: 10%;
  }

  .options-content {
    margin-top: 75px;
    width: 100%;
  }

  .options-content h1 {
    font-size: 30px;
  }

  .checkbox {
    margin-top: 10px;
    width: 100%;
  }

  .checkbox .switch{
    width: 175px;
    height: 40px;
    left: 21%;
  }

  .checkbox label[for=yessfx]{
    position: absolute;
    left: 5px;
    height: 15px;
    font-size: 20px;
    top: -5px;
  }

  .checkbox label[for=nosfx]{
    position: absolute;
    right: 20px;
    top: -5px;
    font-size: 20px;
  } 

  .checkbox #yessfx:checked ~ .switch label[for=yessfx]{
    color: white;
    font-size: 35px;
    top: -5px;
  }
      

  .checkbox #nosfx:checked ~ .switch label[for=nosfx]{
    color: white;
    font-size: 35px;
    top: -5px;
  }

  .checkbox label[for=yesmusic]{
      position: absolute;
      left: 5px;
      height: 15px;
      font-size: 20px;
      top: -5px;
  }

  .checkbox label[for=nomusic]{
    position: absolute;
    right: 20px;
    top: -5px;
    font-size: 20px;
  }

  .checkbox #yesmusic:checked ~ .switch label[for=yesmusic]{
    color: white;
    font-size: 35px;
    top: -5px;
  }
      

  .checkbox #nomusic:checked ~ .switch label[for=nomusic]{
    color: white;
    font-size: 35px;
    top: -5px;
  }

  #musicheader {
    margin-top: 120px;
  }
}


/* BOOK SCREEN */


@media screen and (max-device-width : 322px)
{
  .btn-group-vertical {
    margin-top: 30px;
    left: 10px;
  }

  .btn-group-vertical .btn {
    width: 300px;
    height: 70px;
    background: white;
  }
}

@media screen and (min-device-width : 323px) and (max-device-width : 361px)
{
  .btn-group-vertical {
    margin-top: 70px;
    left: 30px;
  }

  .btn-group-vertical .btn {
    width: 300px;
    height: 70px;
    background: white;
  }
}

@media screen and (min-device-width : 366px) and (max-device-width : 378px)
{
  .btn-group-vertical {
    margin-top: 70px;
    left: 30px;
  }

  .btn-group-vertical .btn {
    width: 300px;
    height: 70px;
    background: white;
  }
}

@media screen and (min-device-width : 410px) and (max-device-width : 766px)
{
  .btn-group-vertical {
    margin-top: 100px;
    left: 30px;
  }

  .btn-group-vertical .btn {
    width: 350px;
    height: 70px;
    background: white;
  }


}

@media screen and (min-device-width : 767px)
{
  .btn-group-vertical {
    margin-top: 150px;
    left: 30px;
  }

  .btn-group-vertical .btn {
    width: 708px;
    height: 120px;
    background: white;
  }

}
  #music {
    margin-top: 120px;
  }
}
